* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_black: #0c0c0c;
  --color_white: #ffffff;
}

body {
  background-color: var(--color_black);
  color: var(--color_white);
}

p {
  font-size: 2rem;
}
